
<div class="centered-content"> 
    <div class="model-box">
    <div class="container has-background-light">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Login</h3>
                <form >
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control"  />
                       
                    </div>
                    

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control"  />
                        
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
                <button (click)= "registerClick()" class="btn btn-link">Register here</button>
            </div>
        </div>
    </div>
</div>
</div>