<!-- template driven login page -->
<div class="centered-content"> 
    <div class="model-box">
    <div class="container has-background-light">
        <div class="row align-items-center">
            <div class="col-md-8 offset-md-2">
                <h2 class="d-flex justify-content-center mb-3" >Login</h2>
                <!-- <h6 style="text-align:center;color:dimgrey;font-size:small">All fields are mandatory</h6> -->
                <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)" >
                    <div class="form-group">
                        <!-- <label>User Name</label> -->
                        <div class="input-group">
                            <input type="text" name="userName" #userNameRef="ngModel"
                                class="form-control" autocomplete="off" ngModel
                                placeholder="&#xf023;&nbsp; Username" required
                                [class.is-valid]="userNameRef.valid && userNameRef.touched"
                                [class.is-invalid]="userNameRef.invalid && userNameRef.touched">   
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <!-- <label>Password</label> -->
                        
                        <input type="password" name="password" #passwordRef="ngModel"
                            class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ngModel
                            placeholder="&#xf084; Password" required
                            [class.is-valid]="passwordRef.valid && passwordRef.touched"
                            [class.is-invalid]="passwordRef.invalid && passwordRef.touched"/>                       
                           
                    </div>
                    <div [hidden]="!passwordRef.touched">
                        <div [hidden]="passwordRef.valid || passwordRef.pristine" class="alert alert-danger">
                            <p class="m-0 p-0" style="color:rgb(163, 49, 49); font-size: smaller; padding-left: 0.3em;"><small>Password must contain Digit, 1 uppercase, 1 lowercase and minimum 8 letters
                            </small></p>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block" 
                            [disabled]="loginForm.form.invalid" 
                            aria-pressed="true">Login</button>
                          </div>
                    </div>
                </form>
                <div class="d-flex justify-content-center">
                    <button (click)= "registerClick()" class="btn btn-link">New here? Create an account</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>