
.vertical-nav {
    min-width: 14rem;
    width: 14rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background: linear-gradient(to right bottom, #ffe033 0%, #ff99cc 100%);
  }
  
  .page-content {
    width: calc(100% - 14rem);
    margin-left: 14rem;
    transition: all 0.4s;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .nav-item{
    display: block;
    padding: 4px 5px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid purple;
  }
  .nav-item:hover{
    background : linear-gradient(to right bottom, lightpink 0%, white 100%);
  }
  



  @media (min-width: 768px) {
      #toggle{
          display: none;
      }
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -14rem;
    }
    #content {
      width: 100%;
      margin: 0;
    }
  }
  


  
  