<input type="checkbox" id="menu">
<label for="menu" class="icon">
    <div class="menu"></div>
</label>

<nav>
    <ul>
        <li>
            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>Home
        </li>
        <li>
            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>adress
        </li>
        <li>
            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>Services
        </li>
        <li>
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>Gallery
        </li>
    </ul>
</nav>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa obcaecati consectetur possimus totam quia, velit cumque inventore facere fugiat iste? Quia repellendus quae necessitatibus reprehenderit, recusandae quaerat aliquid ad doloribus.</h1>