<!-- Reactive Form driven register page -->
<div class="centered-content"> 
    <div class="model-box">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 d-flex justify-content-center" style="font-family: sans-serif;">  
                        <h3>Sign Up</h3>
            </div>

            <div class="col-md-8">
                <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm(registerForm)">
                    <div class="form-group mt-2">
                        <input type="text" class="form-control" 
                        formControlName="firstName" placeholder="First Name" autofocus
                        [class.is-valid]="registerForm.controls.firstName.touched && registerForm.controls.firstName.valid"
                        [class.is-invalid]="registerForm.controls.firstName.touched && registerForm.controls.firstName.invalid"/>
                    </div>
                    <div [hidden]="registerForm.controls.firstName.untouched">
                        <div *ngIf = "registerForm.controls.firstName.errors?.pattern" class="alert alert-danger p-1">
                            <small style="font-size: smaller;">Digits,Space and Special characters are not allowed</small>
                        </div>
                    </div>
                    

                    <div class="form-group mt-3">
                        <input type="text" class="form-control" 
                        placeholder="Last Name" formControlName="lastName"
                        [class.is-valid]="registerForm.controls.lastName.touched && registerForm.controls.lastName.valid"
                        [class.is-invalid]="registerForm.controls.lastName.touched && registerForm.controls.lastName.invalid"/>
                       
                    </div>
                    <div [hidden]="registerForm.controls.lastName.untouched">
                        <div *ngIf = "registerForm.controls.lastName.errors?.pattern" class="alert alert-danger p-1">
                            <small style="font-size: smaller;">Space and Special characters are not allowed</small>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <input type="text" class="form-control" 
                        placeholder="User Name" formControlName="userName"
                        [class.is-valid]="registerForm.controls.userName.touched && registerForm.controls.userName.valid"
                        [class.is-invalid]="registerForm.controls.userName.touched && registerForm.controls.userName.invalid"/>
                        <div [hidden]="registerForm.controls.userName.untouched">
                            <div *ngIf = "registerForm.controls.userName.errors?.pattern" class="alert alert-danger p-1">
                                <small style="font-size: smaller;">User name must be 4 digit or more <br/>
                                Do not contain spaces</small>
                            </div>
                        </div>
                    </div>
                    

                    <div class="form-group mt-3">
                        <input type="password" class="form-control" 
                            placeholder="Password" formControlName="password"
                            [class.is-valid]="registerForm.controls.password.touched && registerForm.controls.password.valid"
                            [class.is-invalid]="registerForm.controls.password.touched && registerForm.controls.password.invalid"/>
                            <div *ngIf = "registerForm.controls.password.errors?.pattern && registerForm.controls.password.touched" class="alert alert-danger p-1">
                                    <small style="font-size: smaller;">Password should be in following format :<br/>
                                        Password must contain atleast Digit, 1 uppercase, 1 lowercase and minimum 8 letters</small>
                                </div>   
                    </div>

                    <div class="form-group mt-3">
                        <input type="password" class="form-control" 
                            placeholder="Confirm Password" formControlName="confirmPassword"
                            
                            [class.is-invalid]="registerForm.errors?.misMatch"/>
                            <small *ngIf="registerForm.hasError('misMatch')" style="font-size: smaller;">Password do not match</small>
                    </div>
                    
                    <div class="form-group mt-3">
                        <div class="d-grid">
                            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-center mt-1">
                    <button (click)= "backClick()" class="btn btn-link">Back to Login Page</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>